body{
    color: #ffa500;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: auto;
    background-color: #1e90ff;
    margin: 0%;
}
 
footer{
    bottom: 5px;
}

img{
    box-shadow: 15px;
    border-radius: 10px;
}

nav{
    display: inline;
}

.service{
    transition: all 0.4s ease;
    cursor: pointer;
}

.service:hover{
    transform: scale(1.05);
    box-shadow: 0 15px 35px rgba(0, 0,0,0.3);
}

a,button{
    transition: all 0.3s ease;
}

a:hover, button:hover{
    transform: translateY(-4px);
}

#find{
    border: 3px solid #007bff;
    border-radius: 50px;
    padding: 12px 20px;
}